# Exercise 6. Missing values. Solution

In [ ]:
# Import libraries

In [ ]:
#Load de titanic dataset

In [ ]:
# Check the types of variables in the dataset and see if there are null values.

In [ ]:
# Shows the number of null values per variable

In [ ]:
# Create a new dataset that does not have rows with null values (delete rows)

In [ ]:
# Calculate the number of deleted rows

In [ ]:
# Create a new dataset without columns with more than 10 nulls

In [ ]:
# Calculates the number of deleted columns

In [ ]:
# Create a new dataset from the original one with the following changes:
# Replace the null values in the age column ('Age') by the average of the ages in the rest of the dataset.
# Replace null values in the variable "Embarked" by the most frequent value in the variable
# Eliminates columns with null values

In [ ]:
# Load or a dataset with missing values with data on travel-times
# https://openmv.net/info/travel-times
# datasets <- travel-times.csv

In [ ]:
# Show data types

In [ ]:
# Show number of null values

In [ ]:
# Eliminates columns with more than half of nulls

In [ ]:
# Replace the null values using the value of the previous row.
# Check if the result was as expected