# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [ ]:
# import pandas library

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [1]:
# Load XLS file (from local filesystem)

In [2]:
# Load XLS file (from GitHub repo)

In [3]:
# show DataFrame

In [ ]:
# Show the 3 first rows

In [ ]:
# Show 5 random rows

In [ ]:
# From the last 10 rows, show the 5 first ones

In [ ]:
# Show 3 random rows from the first 50 ones

In [4]:
# Show info about column data types

In [ ]:
# Show the next info
#
# zip code type: 
#
# Discount type: 
#
# Country data type:

In [ ]:
# Show column names

In [ ]:
# Select and show 5 different random cities

In [ ]:
# Show the different countries that appear in the data

In [ ]:
# Show the different categories

In [ ]:
# Select client id, name and city

In [ ]:
# Select Order ID (as Dataframe)

In [ ]:
# Count elements in Series "Region"

In [ ]:
# Show elementes from "Region" Series

In [ ]:
# Count different elements in Series "Region"

In [ ]:
# Create a Series with quantities in each order line and show the result

In [ ]:
# Show the lines with quantities greater than 2

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"

In [ ]:
# Show the cities with orders including "Tables"

In [ ]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.

In [ ]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'

In [ ]:
# Show 10 random order lines with Phones or Tables

In [ ]:
# Select the second row of the dataframe

In [ ]:
# Select the third, seventh and 24 row of the dataset

In [ ]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region

In [ ]:
# Select the second row from the previous DataFrame (sales) using position

In [ ]:
# Select the second row from the previous DataFrame (sales) using index

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame

In [ ]:
# Select the fifth row

In [ ]:
# Select rows from the third to the seventh one

In [ ]:
# Selecdt penultimate row

In [ ]:
# Select, given the last 5 rows, all but the last one.

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California

In [ ]:
# Give a name to the sheet ('California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row