# Working with different formats . Exercise 5

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [1]:
# import pandas library

### COVID-19 in Spain. Official Data

**Source**: Multiple sources: https://rubenfcasal.github.io/COVID-19/

**Dataset**: https://cnecovid.isciii.es/covid19/resources/casos_hosp_uci_def_sexo_edad_provres.csv

**Metadata**: Metadata: https://cnecovid.isciii.es/covid19/resources/metadata_diag_ccaa_decl_prov_edad_sexo.pdf


Compressed CSV file: 3.9MB

In [1]:
# Load the file into a dataframe
# Use the .zip file in datasets directory

In [3]:
# Create two variables: num_rows and num_columns
# Assign the correct values to this variables

In [4]:
# Take a look to the dataframe

In [5]:
# Save the dataframe as a Parquet and also a CSV file. Then compare filesizes: parquet, zip and csv

In [6]:
# Whats the filesize for the different formats?
# csv: 
# zip:
# parquet:

In [7]:
# Load the Titanic dataset

In [8]:
# Save the Titanic DataFrame to a new JSON file:

In [9]:
# Open the new JSON file with a text editor.
# Try to understand how the data is organized.

In [10]:
# Show survivor women older than 50 years

In [11]:
# Show survivor men older than 50 years

In [12]:
## Try to answer the following questions about data:

In [13]:
# What were the categories of the passengers on the ship?

In [14]:
# How many people from first class survived?

In [15]:
# How many people from the lowest class survived?

### World Maps

shp with the territorial limits of the different countries of the world, in 2014. The names of the countries are in English and Spanish. It also has the ISO code of each country.

https://hub.arcgis.com/datasets/ad61dcd7dd244d4096c22a49cc97011f/about

In [ ]:
# Import geopandas library

In [ ]:
# Load de countries dataset

In [18]:
# How many countries are there in the world?

In [19]:
# Draw the world

In [20]:
# Draw Spain

In [21]:
# Draw Spain, France, Portugal and Italy

### Census sections in Spain

**Source**: INE. Instituto Nacional de Estadística

The files containing the digitalisation of the geo-referenced contours of all the census sections, according to UTM coordinates, zone 28, 29, 30 and 31, are available for download. The files are in EXPORT format from Arclnfo (e009) and SHAPE.

https://www.ine.es/ss/Satellite?L=es_ES&c=Page&cid=1259952026632&p=1259952026632&pagename=ProductosYServicios%2FPYSLayout

In [ ]:
# Download dataset from the INE site

In [ ]:
# Load data and draw the map

In [ ]:
# Take a look to the data

In [ ]:
# Draw a map of Galicia

In [ ]:
# Draw a map of the municipality of Coruña

In [ ]:
# Draw a map of the municipality of your choice (perhaps the place where you come from)