# Analitycs. Exercise 1

In [2]:
# Load the data extracted from Narrativa's API on contagions and deaths by Covid
# Today the API is not operational
# Use the data saved in .csv
# datos_covid2021_3paises.csv

In [3]:
# Data downloaded from Narrativa API
# - today_new_confirmed
# - today_new_deaths
# https://api.covid19tracking.narrativa.com/api/

In [4]:
# Import libraries

In [5]:
import pandas as pd

In [6]:
# Load dataset

In [7]:
df = pd.read_csv("../datasets/datos_covid2021_3paises.csv")
df

      Unnamed: 0         dia    pais  contaxios  mortes
0              0  2021-01-01   Spain      18047     148
1              1  2021-01-02   Spain          0       0
2              2  2021-01-03   Spain          0       0
3              3  2021-01-04   Spain      30579     241
4              4  2021-01-05   Spain      23700     352
...          ...         ...     ...        ...     ...
1090        1090  2021-12-27  France      29614     245
1091        1091  2021-12-28  France     179316     294
1092        1092  2021-12-29  France     202293     173
1093        1093  2021-12-30  France     206243     180
1094        1094  2021-12-31  France     232200     189

[1095 rows x 5 columns]

In [8]:
# 1.Calculate the average number of contagions for 'Spain'.

In [9]:
contagios_Spain = df[df["pais"] == "Spain"]["contaxios"]

contagios_Spain.mean()

12977.517808219178

In [10]:
# 2.Calculate the average number of deaths per day for 'France'.

In [26]:
df[df["pais"] == "France"]["mortes"].mean()

154.0904109589041

In [12]:
# 3.Calculate the maximum number of cases.

In [24]:
df["contaxios"].max()

232200

In [14]:
# 4.Calculate the average number of cases separated by groups.

In [35]:

df.groupby("pais")["contaxios"].mean()

pais
France      20638.731507
Portugal     2666.789041
Spain       12977.517808
Name: contaxios, dtype: float64

In [15]:
# 5.Is there a correlation between number of new cases and deaths?

In [39]:
df.corr(numeric_only=True)

            Unnamed: 0  contaxios    mortes
Unnamed: 0    1.000000   0.163231 -0.037993
contaxios     0.163231   1.000000  0.385233
mortes       -0.037993   0.385233  1.000000

In [16]:
# 6.If there is a relationship, in which country is it greater?

In [17]:
# 7. What is the median of contagions in Portugal?

In [18]:
# 8. What are the values of the Q1 and Q3 percentages for France for the number of infections?

In [19]:
# 9. How many different values are there for the number of infections in a day in each country?

In [20]:
# 10. Minimum and maximum value of infections per day for each country