# Web scraping. Exercise 3

In [ ]:
# 1. Extract the price of bitcoin by scraping the following website
# https://awebanalysis.com/es/coin-details/bitcoin/

In [39]:
# 2.1 Prints the titles of the entries/posts on the main page of "Men√©ame"
# https://www.meneame.net/

In [64]:
# 2.2 Create a dataframe with the name and the link of the news source (elpais.es, abc.com etc)

In [ ]:
# 3.1 Print the title and year of the IMDB Top 250 films
# https://www.imdb.com/chart/top/

In [48]:
# 3.2 Create a dataframe with collected data

In [ ]:
# 3.3 Insert the data from the dataset into a mysql database