# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [1]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [6]:
# Load XLS file (from local filesystem)
df = pd.read_excel("../datasets/sample_superstore.xls", sheet_name ="Orders")

In [3]:
# Load XLS file (from GitHub repo)
url = "https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls"
df = pd.read_excel(url,sheet_name = "Orders")

In [ ]:
# show DataFrame
df

In [ ]:
# Show the 3 first rows
df.head(3)
# df.iloc[0:3]

In [ ]:
# Show 5 random rows
df.sample(5)

In [ ]:
# From the last 10 rows, show the 5 first ones
#df.iloc[-10:].head(5)
#df.iloc[-10:-5]
df.tail(10).head(5)

In [10]:
# Show 3 random rows from the first 50 ones
#df.iloc[0:50].sample(3)
df.head(50).sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
15,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.544,3,0.8,-3.8160
24,25,CA-2015-106320,2015-09-25,2015-09-30,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.630,3,0.0,240.2649
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164

In [ ]:
# Show info about column data types
df.info()

In [ ]:
# Show the next info #TODO
#
# zip code type: 
#
# Discount type: 
#
# Country data type:

In [ ]:
# Show column names
df.columns

In [11]:
# Select and show 5 different random cities
df.City.sample(5)

1300      Springfield
9337    San Francisco
8675          Decatur
8268           Aurora
8071       Huntsville
Name: City, dtype: object

In [20]:
# Show the different countries that appear in the data
df.Country.unique()

array(['United States'], dtype=object)

In [6]:
# Show the different categories
df.Category.unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [ ]:
# Select client id, name and city
df[["Customer ID","Customer Name","City"]]

In [ ]:
# Select Order ID (as Dataframe)
order_id = df[["Order ID"]] #CON DOBLE CORCHETE ES DATAFRAME // CON UNO ES UNA SERIE
order_id

In [13]:
# Count elements in Series "Region"
df["Region"].count()

9994

In [14]:
# Show elementes from "Region" Series
df["Region"].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [15]:
# Count different elements in Series "Region"
len(df["Region"].unique())

4

In [16]:
# Create a Series with quantities in each order line and show the result
cantidades = df.Quantity
cantidades

0       2
1       3
2       2
3       5
4       2
       ..
9989    3
9990    2
9991    2
9992    4
9993    2
Name: Quantity, Length: 9994, dtype: int64

In [ ]:
# Show the lines with quantities greater than 2 (Quantity)
quantitygreater2 = df["Quantity"] > 2
df[quantitygreater2]

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"  (Sub-Category)
df[df["Sub-Category"] == "Tables"]

In [ ]:
# Show the cities with orders including "Tables" //cities con subcategoria table
df[df["Sub-Category"] == "Tables"].City.unique()

In [17]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.
orders_table = pd.Series(df[df["Sub-Category"] == "Tables"].City.unique())
orders_table.sample(5)

30           Fresno
19     Jacksonville
46          Passaic
120            Troy
28      Springfield
dtype: object

In [22]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.
chairs = pd.DataFrame(df[df["Sub-Category"] == "Chairs"].City.unique(), columns = ["cidade"])
chairs.tail(3)

            cidade
192  Santa Barbara
193          Bryan
194   Indianapolis

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'
#sub-category = phones // city = los angeles
orderlines = df[(df["Sub-Category"] == "Phones") & (df["City"] == "Los Angeles")]
orderlines

In [24]:
# Show 10 random order lines with Phones or Tables
df[(df["Sub-Category"] == "Phones") | (df["Sub-Category"] == "Tables")].sample(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5480,5481,CA-2017-105487,2017-10-08,2017-10-14,Standard Class,CS-12250,Chris Selesnick,Corporate,United States,San Diego,...,92105,West,TEC-PH-10001336,Technology,Phones,Digium D40 VoIP phone,103.192,1,0.2,11.6091
2482,2483,CA-2017-126067,2017-08-28,2017-09-03,Standard Class,KN-16705,Kristina Nunn,Home Office,United States,Seattle,...,98105,West,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,35.168,4,0.2,11.4296
9736,9737,US-2015-100069,2015-06-29,2015-07-03,Standard Class,NF-18475,Neil FranzÃ¶sisch,Home Office,United States,Omaha,...,68104,Central,TEC-PH-10004667,Technology,Phones,Cisco 8x8 Inc. 6753i IP Business Phone System,269.980,2,0.0,72.8946
1416,1417,CA-2015-126697,2015-09-21,2015-09-24,First Class,SV-20815,Stuart Van,Corporate,United States,Houston,...,77041,Central,TEC-PH-10002922,Technology,Phones,ShoreTel ShorePhone IP 230 VoIP phone,946.344,7,0.2,118.2930
1830,1831,CA-2017-145884,2017-10-21,2017-10-21,Same Day,SL-20155,Sara Luxemburg,Home Office,United States,Muskogee,...,74403,Central,TEC-PH-10000895,Technology,Phones,Polycom VVX 310 VoIP phone,1439.920,8,0.0,374.3792
6040,6041,CA-2017-122364,2017-09-24,2017-09-29,Standard Class,FA-14230,Frank Atkinson,Corporate,United States,Los Angeles,...,90008,West,TEC-PH-10001817,Technology,Phones,Wilson Electronics DB Pro Signal Booster,859.200,3,0.2,75.1800
6468,6469,CA-2016-163804,2016-12-02,2016-12-08,Standard Class,DB-13270,Deborah Brumfield,Home Office,United States,Providence,...,2908,East,TEC-PH-10000441,Technology,Phones,VTech DS6151,629.950,5,0.0,176.3860
771,772,CA-2017-104220,2017-01-30,2017-02-05,Standard Class,BV-11245,Benjamin Venier,Corporate,United States,Des Moines,...,50315,Central,TEC-PH-10004614,Technology,Phones,AT&T 841000 Phone,207.000,3,0.0,51.7500
7952,7953,CA-2015-145814,2015-11-19,2015-11-24,Standard Class,KD-16345,Katherine Ducich,Consumer,United States,New York City,...,10035,East,TEC-PH-10002200,Technology,Phones,Aastra 6757i CT Wireless VoIP phone,861.760,4,0.0,249.9104
4272,4273,US-2017-158505,2017-07-21,2017-07-21,Same Day,SF-20200,Sarah Foster,Consumer,United States,Murray,...,84107,West,TEC-PH-10004071,Technology,Phones,PayAnywhere Card Reader,71.928,9,0.2,6.2937

In [ ]:
# Select the second row of the dataframe
df.iloc[[1]] #porque hay indice 0

In [ ]:
# Select the third, seventh and 24 row of the dataset
df.iloc[[2,6,23]] #porque hay indice 0

In [26]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region
west_region = df[df.Region == "West"]
west_region_dataframe = west_region[["Customer Name","City","Product Name"]]
west_region_dataframe

,Customer Name,City,Product Name
2,Darrin Van Huff,Los Angeles,Self-Adhesive Address Labels for Typewriters b...
5,Brosina Hoffman,Los Angeles,Eldon Expressions Wood and Plastic Desk Access...
6,Brosina Hoffman,Los Angeles,Newell 322
7,Brosina Hoffman,Los Angeles,Mitel 5320 IP Phone VoIP phone
8,Brosina Hoffman,Los Angeles,DXL Angle-View Binders with Locking Rings by S...
...,...,...,...
9986,Maris LaWare,Los Angeles,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...
9990,Dave Brooks,Costa Mesa,Tenex B1-RE Series Chair Mats for Low Pile Car...
9991,Dave Brooks,Costa Mesa,Aastra 57i VoIP phone
9992,Dave Brooks,Costa Mesa,"It's Hot Message Books with Stickers, 2 3/4"" x 5"""
9993,Chris Cortes,Westminster,"Acco 7-Outlet Masterpiece Power Center, Wihtou..."

In [ ]:
# Select the second row from the previous DataFrame (sales) using position
west_region_dataframe.iloc[[1]]

In [ ]:
# Select the second row from the previous DataFrame (sales) using index
west_region_dataframe.loc[[5]]

In [27]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame
df = pd.read_excel('../datasets/sample_superstore.xls', index_col = "Row ID", sheet_name="Orders")
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [28]:
# Select the fifth row
df.iloc[[4]]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164

In [29]:
# Select rows from the third to the seventh one
df.iloc[2:7]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656

In [30]:
# Selecdt penultimate row
df.iloc[[-2]]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6,4,0.0,13.32

In [31]:
# Select, give the last 5 rows, all but the last one.
df.iloc[-5:-1]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200

# Depending on what we need, we can use loc or iloc
 * loc <- work with index/labels
 * iloc <- work with positions

In [33]:
# Write to XLS all the sales in the State of California
vendas_california = df[df["State"] == "California"]
vendas_california.to_excel("output/vendas_california.xlsx")

In [34]:
# Give a name to the sheet ('California') 
vendas_california.to_excel("output/vendas_california.xlsx", sheet_name ="California")

In [35]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row
df[(df.Region == "West") | (df.Region == "South")][["Product Name", "Product ID", "Quantity", "Discount"]].to_excel("output/vendas_california.xlsx")