# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [1]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [2]:
# Load XLS file (from local filesystem)
df = pd.read_excel("../datasets/sample_superstore.xls", "Orders")

In [5]:
# Load XLS file (from GitHub repo)
url = "https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls"
df = pd.read_excel(url,"Orders")

In [ ]:
# show DataFrame
df

In [ ]:
# Show the 3 first rows
df.head(3)

In [ ]:
# Show 5 random rows
df.sample(5)

In [ ]:
# From the last 10 rows, show the 5 first ones
df.iloc[-10:].head(5)

In [ ]:
# Show 3 random rows from the first 50 ones
df.iloc[0:50].sample(3)

In [ ]:
# Show info about column data types
df.info()

In [ ]:
# Show the next info #TODO
#
# zip code type: 
#
# Discount type: 
#
# Country data type:

In [ ]:
# Show column names
df.columns

In [18]:
# Select and show 5 different random cities

#TODO

In [20]:
# Show the different countries that appear in the data
df.Country.unique()

array(['United States'], dtype=object)

In [6]:
# Show the different categories
df.Category.unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [ ]:
# Select client id, name and city

df[["Customer ID","Customer Name","City"]]

In [ ]:
# Select Order ID (as Dataframe)
order_id = df[["Order ID"]] #CON DOBLE CORCHETE ES DATAFRAME // CON UNO ES UNA SERIE
order_id

In [19]:
# Count elements in Series "Region"
region_count = df["Region"].count()

print(f"Elements in series region: {(region_count)}")

Elements in series region 9994

In [ ]:
# Show elementes from "Region" Series
df["Region"]

In [29]:
# Count different elements in Series "Region"
region_unique = df["Region"].unique()
len(region_unique)

4

In [ ]:
# Create a Series with quantities in each order line and show the result

#TODO

In [ ]:
# Show the lines with quantities greater than 2 (Quantity)
quantitygreater2 = df["Quantity"] > 2
df[quantitygreater2]

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"  (Sub-Category)
tables = df["Sub-Category"] == "Tables"
df[tables]

In [ ]:
# Show the cities with orders including "Tables" //cities con subcategoria table
df[df["Sub-Category"] == "Tables"].City

In [ ]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.
df[df["Sub-Category"] == "Tables"].City.sample(5)

In [ ]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.
chairs = df[df["Sub-Category"] == "Chairs"].City.loc[-3:]
chairs

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'
#sub-category = phones // city = los angeles
orderlines = df[(df["Sub-Category"] == "Phones") & (df["City"] == "Los Angeles")]
orderlines

In [ ]:
# Show 10 random order lines with Phones or Tables
random_orderlines = orderlines.sample(10)
random_orderlines

In [ ]:
# Select the second row of the dataframe
df.iloc[[1]] #porque hay indice 0

In [ ]:
# Select the third, seventh and 24 row of the dataset
df.iloc[[2,6,23]] #porque hay indice 0

In [29]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region
west_region = df[df.Region == "West"]
west_region_dataframe = west_region[["Customer Name","Product Name","Quantity"]]
west_region_dataframe

,Customer Name,Product Name,Quantity
2,Darrin Van Huff,Self-Adhesive Address Labels for Typewriters b...,2
5,Brosina Hoffman,Eldon Expressions Wood and Plastic Desk Access...,7
6,Brosina Hoffman,Newell 322,4
7,Brosina Hoffman,Mitel 5320 IP Phone VoIP phone,6
8,Brosina Hoffman,DXL Angle-View Binders with Locking Rings by S...,3
...,...,...,...
9986,Maris LaWare,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,1
9990,Dave Brooks,Tenex B1-RE Series Chair Mats for Low Pile Car...,2
9991,Dave Brooks,Aastra 57i VoIP phone,2
9992,Dave Brooks,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",4
9993,Chris Cortes,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",2

In [ ]:
# Select the second row from the previous DataFrame (sales) using position
west_region_dataframe.iloc[[1]]

In [ ]:
# Select the second row from the previous DataFrame (sales) using index
west_region_dataframe.loc[[5]]

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame

In [ ]:
# Select the fifth row

In [ ]:
# Select rows from the third to the seventh one

In [ ]:
# Selecdt penultimate row

In [ ]:
# Select, give the last 5 rows, all but the last one.

# Depending on what we need, we can use loc or iloc
 loc <- work with index/labels
 iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California

In [ ]:
# Give a name to the sheet ('California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row